In [52]:
import csv
f = open('avocado.csv', 'r')
avocado = list(csv.reader(f))
headers = avocado[0]
avocado = avocado[1:]
print(avocado[:2])

[['0', '2015-12-27', '1.33', '64236.62', '1036.74', '54454.85', '48.16', '8696.87', '8603.62', '93.25', '0.0', 'conventional', '2015', 'Albany'], ['1', '2015-12-20', '1.35', '54876.98', '674.28', '44638.81', '58.33', '9505.56', '9408.07', '97.49', '0.0', 'conventional', '2015', 'Albany']]

In [17]:
#Counting Total number of avocados sold by year
years_count = {}
for i in avocado:
    year = i[12]
    if year not in years_count:
        years_count[year] = 0
    else:
        years_count[year] += float(i[3])
years_count

{'2015': 4385404425.41996,
 '2016': 4820816550.099978,
 '2017': 4934192184.850029,
 '2018': 1382588943.7600026}

In [56]:
#Exploring Avocado Sell By Month And Year
from collections import defaultdict

years_month_count = defaultdict(float)
for x in avocado:
    years_month_count[x[1].rsplit('-', 1)[0]] += float(x[3])
    
years_month_count

defaultdict(float,
            {'2015-12': 296025931.89000046,
             '2015-11': 369440036.3899998,
             '2015-10': 305776111.0199997,
             '2015-09': 329218833.0500003,
             '2015-08': 419244814.82000035,
             '2015-07': 356701872.6299998,
             '2015-06': 381826743.7099998,
             '2015-05': 483784044.7899992,
             '2015-04': 344144395.15,
             '2015-03': 418583069.76999956,
             '2015-02': 362637599.2299999,
             '2015-01': 318085209.5899999,
             '2016-12': 331447751.88000035,
             '2016-11': 260209336.70000023,
             '2016-10': 360201804.2799995,
             '2016-09': 362303275.4800001,
             '2016-08': 370796966.98,
             '2016-07': 467275344.2300003,
             '2016-06': 410328154.0800004,
             '2016-05': 561230530.5699996,
             '2016-04': 401832751.79000044,
             '2016-03': 391212408.27999985,
             '2016-02': 428645801.98,
             '2016-01': 475405765.58000004,
             '2017-12': 459332860.02999985,
             '2017-11': 324519308.52999973,
             '2017-10': 362777956.7399999,
             '2017-09': 284779536.3300005,
             '2017-08': 338332990.1799999,
             '2017-07': 474903710.36000025,
             '2017-06': 410410650.9500002,
             '2017-05': 425730541.61000013,
             '2017-04': 489814529.54000026,
             '2017-03': 358903381.7499999,
             '2017-02': 471467199.8399999,
             '2017-01': 533333033.4099999,
             '2018-03': 455253060.2199999,
             '2018-02': 497778196.4200004,
             '2018-01': 429707083.6200003})